    <div id="question_text_div">
        <h3 id="question_text">{{questionText}}</h3>
    </div>

    <div id="question_index_div">
        <h3 id="question_index">{{questionIndex}}</h3>
    </div>
    
    <div id="question_grid_div" style="display:none">
        <div id="grid_div" style="width:600px;height:250px;"></div>
    </div>
    
    <div id="answer_text_div">
         <input id="answer_text_input" type="text" name="answer">
    </div>

    <div id = "answer_button_div" >
        <button id="answer_button">Submit</button>
    </div>    

    <div id="answer_grid_div" style="display:none"></div>

    
    <div id="play_again_button_div">
        <button id="play_again_button" style="display:none">Play Again</button>
    </div>

    <div id="correct_div" style="display:none">
        <h1 id="correct_h1" style="color: green">Correct</h1>
    </div>

    <div id="incorrect_div" style="display:none">
        <h1 id="incorrect_h1" style="color: green">Sorry Incorrect</h1>
    </div>



